.button {
    cursor: pointer;
    width: 100%;
    min-width: 50px;
    height: 20px;
    margin: 20px;
    background-color: blanchedalmond;
    box-shadow: 1px 1px rgb(43, 42, 42);
    border-radius: 10px;

    &:hover {
        opacity: 0.7;
    }
    &:active {
        background-color: rgb(255, 153, 0);
    }
}