.filter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 0);
    gap: 50px;

    &__container__select {
        justify-content: center;
        align-items: center;
    }

    &__select {
        width: 150px;

        &__genre {
            width: 200px;
        }

    }
    
    &__container__input {
        width: 375px;
        justify-content: center;
        align-items: center;
    }

    &__input {
        width: 300px;
    }
}