:host {
    display: flex;
}

.movie-form {

    &__input-container {
        display: flex;
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin-bottom: 15px;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        gap: 10px;
    }

    &__lablel {
        width: 150px;
    }

    &__input {
        border-radius: 7px;
        width: 300px;

        &__error {
            margin: auto;
            padding-left:50px;
            color: red;
            font-size: 13px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        gap: 200px;
    }

    &__required {
        font-size: 12px;
        margin-top: 15px;
    }
}

.movie-form h5 {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}



